@charset "UTF-8";

html {
    font-size: 120%;
}

body {
    background-color: #e7fcfb;
    color: black;
    margin: 10px 20px 0 10px;
}

h1 {
    margin: 10px;
    padding: 10px 10px 7px 20px;
    background-color: #fcee74;
}

h2 {
    background-color: rgb(140, 195, 105);
    padding: 10px 30px 0 10px;
}

pre{
    white-space: pre-wrap;
}

p {
    padding-left: 10px;
}

a.list:hover {
    color: white;
    background-color: royalblue;
}

.result{
    margin: 20px;
    padding: 20px;
    background-color: rgb(210, 210, 210);
}

footer.result1{
    color: black;
    background-color: rgb(210, 210, 210);
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
    padding: 30px 0px 30px 0px;
}

code {
    font-size: 130%;
    background-color: rgb(210, 210, 210);
    display: block;
    margin: 0px 20px;
    padding: 10px 0px 10px 0px;
}

footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    margin-bottom: 10px;
    padding: 30px 0px 30px 0px;
    background-color: rgb(150, 15, 15);
    color: #ffffff;
    text-align: center;
}